src/main/mule/error-handling-ass1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2219864-dc4f-43e7-a637-f7f83c8be958" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="62182b36-4688-4289-aed4-0d0257968210" >
		<email:smtp-connection host="smtp.gmail.com" user="samanahmad7@gmail.com" password="Sapiens@567" connectionTimeout="10">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable " value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="error-handling-ass1Flow" doc:id="14661a94-cdba-4825-bb56-a3252139dc91" >
		<http:listener doc:name="Listener" doc:id="8acef3b5-31cb-45fa-a061-a114e626f721" path="/test" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[attributes.queryParams.emailAddress]" doc:name="emailAddress" doc:id="1806f289-6625-4770-a2bd-ea80ac823b4f" variableName="emailAddress"/>
		<try doc:name="Try" doc:id="8653c5bc-3fcd-4c0b-a4ba-320afea6917e" >
			<validation:is-not-null doc:name="Is not null" doc:id="a99f2041-1b92-450e-8b0c-8d5651a05c95" value="#[vars.emailAddress]" message='"email address is null"'/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="345977aa-26d7-4983-9267-b7c6ad06d818" >
					<email:send doc:name="Send" doc:id="a6ec20f6-9d11-43bd-8325-331594014f0e" fromAddress="samanahmad7@gmail.com" config-ref="Email_SMTP">
						<email:to-addresses >
							<email:to-address value="samanahmad997@gmail.com" />
						</email:to-addresses>
						<email:body contentType="text/pain" encoding="UTF-8">
							<email:content ><![CDATA["The email address is missing"]]></email:content>
						</email:body>
					</email:send>
				</on-error-propagate>
			</error-handler>
		</try>
		<try doc:name="Try" doc:id="c77866d8-eef7-4c2f-b736-57a190ba9ef1" >
			<validation:is-email doc:name="Is email" doc:id="562e2d7b-4b4a-4505-a6a2-db82a5986a9d" email="#[vars.emailAddress]" message='"Invalid Address"'/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f2a7afca-619e-44b7-a4b1-f399460ad5b2" type="VALIDATION:INVALID_EMAIL">
					<set-payload value='"Email format is Invalid"' doc:name="Set Payload" doc:id="ff0d419b-5b9b-44a7-a301-4a867e0a962e" />
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="ce0182d0-646a-4ec8-ab23-dac9d42a45c5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
(substringAfter(vars.emailAddress,'@'))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="ceb8620c-329c-421d-9b4d-fec3d1a0989e" >
			<when expression='#[payload != "gmail.com"]'>
				<set-payload value='"this email address is not accepted"' doc:name="Set Payload" doc:id="ecaa60f5-2af1-43a4-a40e-918ba380a390" />
			</when>
			<otherwise >
				<set-payload value='"SUCCESS"' doc:name="Set Payload" doc:id="59a35a06-8b63-4975-9159-36c4fa7beb34" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="a9d0a118-b0f4-41a2-b224-f2ae282ab317" message='"END OF FLOW"'/>
	</flow>
</mule>
